---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getImage } from 'astro:assets';
import prod1 from './../images/60capsules.webp';
import prod2 from '../images/42capsules.webp';
import prod3 from '../images/COROgummies.webp';
import subhero from '../images/coroquil_product.webp'
import imageWorks from '../images/3.webp';
import business from '../images/business-standard.webp';
import forbes from '../images/forbes-india.webp';
import cnbc from '../images/cnbc.webp';
import health from '../images/health-world.webp';
import inc from '../images/inc-42-footer-logo-1.webp';
import live from '../images/live-mint.webp';
import hero2 from '../images/hero2.webp'



const optimizedBackground = await getImage({src: imageWorks, format: 'webp', quality: 10});
const optimizedBg = await getImage({src: hero2, format: 'webp', quality: 10});

---

<Layout>
  <section class="hero bg-cover bg-center " style={`background-image: url(${optimizedBackground.src});`}>
	 <div class="h-screen flex items-center justify-center  bg-black/70">
		<div class="text-center md:w-[66%]" style="min-width: 50%;">
			<h1 class="text-5xl md:text-7xl font-bold text-white mt-8 mb-8 px-10 ">Experience Respiratory Relief with Coroquil-Zn</h1>
			<p class="text-lg md:text-2xl text-white px-10 mb-8">Boost Your Immunity with Our Innovative Zinc-Based Formula</p>
			<a href="https://remediumtherapeutics.com/" target="_blank" class="inline-flex items-center  justify-center text-white bg-[#9fe870] hover:bg-[#c1e8a8] hover:text-[#264d0c] rounded-full px-3 pt-3 pb-2 leading-none text-lg font-bold md:text-2xl md:px-4 md:pt-4 md:pb-3">Discover COROQUIL-Zn</a>
		</div>
	</div>
  </section>
  <section class="bg-contain bg-repeat-round" style={`background-image: url(${optimizedBg.src});`}>
	<div class="flex items-center justify-center">
		<div class="flex flex-col items-center justify-center pt-10 backdrop-blur-xl backdrop-brightness-75 md:backdrop-brightness-90 md:rounded-3xl">
			<div class="mx-5 md:mx-10 flex flex-col items-center justify-center pb-10" style="max-width: 800px;">
				<h1 class="text-white text-center px-auto py-7 md:text-7xl" style="font-size: 2.625rem;">Introducing <strong class="relative">COROQUIL-Zn</strong></h1>
				<p class="text-white text-center text-lg md:text-2xl pb-7">
					At Remedium, we are dedicated to developing innovative health solutions that improve your quality of life. Our latest product, COROQUIL-Zn, is designed to enhance your immune system and provide reliable support for your overall wellness. With a unique blend of zinc and other natural ingredients, COROQUIL-Zn offers an effective approach to maintaining a healthy immune response and promoting overall health.
				</p>
				<p class="text-lg md:text-2xl text-white text-center pb-7">
					Recently approved by the Ayush Administration for use in mild to moderate COVID-19 and other respiratory ailments, COROQUIL-Zn is designed to enhance your immune system and overall wellness.
				</p>
			</div>
		  </div>
	</div>
  </section>

  <section class="flex justify-center">
  	<div class="md:max-w-[90%]">
		<div class="mx-5 py-5 md:py-8 flex flex-col md:flex-row text-left justify-between items-center">
			<Image class="rounded-3xl min-w-80 min-h-80 mb-2 md:mb-6 md:max-w-[40%]" src={subhero} quality={35} alt="COROQUIL-Zn" />
			<div class="flex flex-col md:ml-10 md:max-w-[60%]">
				<h1 class="text-4xl md:text-6xl font-bold">What is COROQUIL-Zn?</h1>
				<p class="pt-4 text-lg md:text-2xl">
					COROQUIL-Zn is a cutting-edge zinc-based supplement developed by Remedium to support your immune health. Our product combines the benefits of zinc with a proprietary blend of natural ingredients to help your body fend off illnesses and maintain optimal health. Zinc is an essential mineral known for its immune-boosting properties, and in COROQUIL-Zn, we've harnessed its power to deliver maximum effectiveness. 
				</p>
				<p class="pt-4 text-lg md:text-2xl">
					Crafted with high-quality, natural components, COROQUIL-Zn is designed to be a safe, effective, and easy addition to your daily wellness routine. Each ingredient is carefully selected to provide comprehensive immune support and help you stay healthy and vibrant.
				</p>
				<!-- <p class="pt-4 text-lg md:text-2xl">
					Crafted with high-quality, natural components, COROQUIL-Zn is designed to be a safe, effective, and easy addition to your daily wellness routine. By taking two capsules a day, you can maintain strong immune support and promote overall health. Each ingredient is carefully selected to provide comprehensive immune support and help you stay healthy and vibrant.
				</p> -->
			</div>
		</div>
	</div>
  </section>
  <!-- Products Display -->
  <section class="mx-5 text-left md:text-center md:mx-0">
	<h1 class="text-4xl md:text-6xl font-bold">Our Products</h1>
  </section>
  <section class="m-5 flex flex-col justify-around items-center md:flex-row md:flex-wrap">
	<div class="max-w-2xl mb-5 min-mr-5">
		<div class="bg-white shadow-md rounded-lg max-w-sm">
				<Image class="ounded-t-lg p-5" src={prod1} quality={35} alt="COROQUIL-Zn" />
				<div class="px-5">
					<a>
						<h3 class="text-gray-900 font-semibold text-xl tracking-tight">CoroQuil-Zn capsules (60 Capsules)</h3>
					</a>
				</div>
				<div class="flex items-center justify-between p-5">
					<span class="text-2xl md:text-3xl font-bold text-gray-900">Rs. 640</span>
					<a href="https://coroquilzn.myshopify.com/"
						target="_blank"
						class="text-white bg-[#9fe870] hover:bg-[#c1e8a8] hover:text-[#264d0c] font-medium rounded-lg text-sm md:text-xl px-5 py-2.5 text-center">
						Buy It Now</a>
				</div>
		</div>
	</div>
	<div class="max-w-2xl mb-5 min-mr-5">
		<div class="bg-white shadow-md rounded-lg max-w-sm">
				<Image class="ounded-t-lg p-5" src={prod2} quality={35} alt="COROQUIL-Zn" />
				<div class="px-5">
					<a>
						<h3 class="text-gray-900 font-semibold text-xl tracking-tight">CoroQuil-Zn capsules (42 Capsules)</h3>
					</a>
				</div>
				<div class="flex items-center justify-between p-5">
					<span class="text-2xl md:text-3xl font-bold text-gray-900">Rs. 534</span>
					<a href="https://coroquilzn.myshopify.com/"
						target="_blank"
						class="text-white bg-[#9fe870] hover:bg-[#c1e8a8] hover:text-[#264d0c] font-medium rounded-lg text-sm px-5 py-2.5 text-center md:text-xl">
						Buy It Now</a>
				</div>
		</div>
	</div>
	<div class="max-w-2xl mb-5 min-mr-5">
		<div class="bg-white shadow-md rounded-lg max-w-sm">
				<Image class="ounded-t-lg p-5" src={prod3} quality={35} alt="COROQUIL-Zn" />
				<div class="px-5">
					<a>
						<h3 class="text-gray-900 font-semibold text-xl tracking-tight">CoroQuil-Zn Gummies Kacha Aam (30 Capsules)</h3>
					</a>
				</div>
				<div class="flex items-center justify-between p-5">
					<span class="text-2xl md:text-3xl font-bold text-gray-900">Rs. 299</span>
					<a href="https://www.1mg.com/otc/remedium-therapeutics-coroquil-zn-gummies-kacha-aam-otc1031819"
						class="text-white bg-[#9fe870] hover:bg-[#c1e8a8] hover:text-[#264d0c] font-medium rounded-lg text-sm px-5 py-2.5 text-center md:text-xl">
						Buy It Now</a>
				</div>
		</div>
	</div>
  </section>
  <section class="bg-[#2E481A] flex flex-col items-center justify-center w-[100%] py-20 mb-5 md:mb-20">
		<div class="bg-[#9FE870] w-[90%] rounded-3xl flex items-center justify-center p-8 md:p-24 " style="max-width: 90%;">
			<p class="text-[#2E481A] text-4xl md:text-6xl font-bold text-center m-15">
				Approved by Ministry of Ayush, Govt. of India for adjuvant treatment of mild to moderate COVID-19 
			</p>
		</div>
  </section>

  <section class="w-full">
	<div class="md:mx-10">
		<div class="md:text-center mb-10">
			<h1 class="text-4xl mx-5 md:text-6xl pb-5"><strong>How COROQUIL-Zn Works</strong></h1>
			<p class="text-lg md:text-2xl mx-5 md:mx-1">
				COROQUIL-Zn works by leveraging the power of zinc and other natural ingredients to support and strengthen your immune system. Here's how our formula helps: 
			</p>
		</div>
		<div class="flex flex-row justify-center flex-wrap md:flex-nowrap">
			<div class=" flex flex-col">
				<div class="mx-5 md:my-4 md:p-8 bg-white rounded-3xl p-3">
					<h2 class="text-2xl md:text-3xl font-bold">Boosts Immune Defense</h2>
					<p class="text-lg md:text-2xl">Zinc plays a vital role in maintaining immune function, helping your body fight off pathogens and reduce the duration of illnesses. </p>
				</div>
				<div class="mx-5 my-4 md:my-4 md:p-8 bg-white rounded-3xl p-3">
					<h2 class="text-2xl md:text-3xl font-bold">Supports Respiratory Health</h2>
					<p class="text-lg md:text-2xl"> The natural ingredients in COROQUIL-Zn are carefully chosen to support respiratory health and enhance your body's natural defenses. </p>
				</div>
				<div class="mx-5 md:my-4 md:p-8 bg-white rounded-3xl p-3">
					<h2 class="text-2xl md:text-3xl font-bold">Promotes Overall Wellness</h2>
					<p class="text-lg md:text-2xl">By supporting your immune system, COROQUIL-Zn contributes to your overall health, helping you feel your best every day. </p>
				</div>	
			</div>
			<div class="m-5 flex">
				<Image class="rounded-3xl min-w-80 min-h-80 md:max-w-xl" src={imageWorks} quality={35} alt="COROQUIL-Zn" />
			</div>
		</div>
	</div>
  </section>
  <section class="bg-[#9FE870] py-5">
	<div class="md:flex md:flex-row md:m-10">
		<div class="text-left mx-4">
			<h1 class="text-4xl md:text-6xl font-bold p-2">Why Choose COROQUIL-Zn?</h1>
			<p class="text-lg md:text-2xl p-2">
				Here’s why COROQUIL-Zn by Remedium is the right choice for your immune health:
			</p>
		</div>
		<div class="max-w-4xl mx-5 p-6 bg-white rounded-2xl shadow-md">
			<ul class="space-y-4 text-gray-800 items-center">
				<li class="flex items-start space-x-4">
					<span class="font-bold text-green-500 text-lg">1</span>
					<div class="text-lg md:text-2xl">
						<strong>Potent Zinc Formula:</strong> Formulated with a high concentration of zinc, a crucial mineral for immune support.
					</div>
				</li>
				<li class="flex items-start space-x-4">
					<span class="font-bold text-green-500 text-lg">2</span>
					<div class="text-lg md:text-2xl">
						<strong>Natural Ingredients:</strong> Includes a proprietary blend of natural herbs and nutrients known for their health benefits.
					</div>
				</li>
				<li class="flex items-start space-x-4">
					<span class="font-bold text-green-500 text-lg">3</span>
					<div class="text-lg md:text-2xl">
						<strong>Clinically Tested:</strong> Our formula is backed by scientific research and clinical trials, ensuring efficacy and safety.
					</div>
				</li>
				<li class="flex items-start space-x-4">
					<span class="font-bold text-green-500 text-lg">4</span>
					<div class="text-lg md:text-2xl">
						<strong>Easy to Take:</strong> Convenient, easy-to-swallow capsules designed for daily use.
					</div>
				</li>
				<li class="flex items-start space-x-4">
					<span class="font-bold text-green-500 text-lg">5</span>
					<div class="text-lg md:text-2xl">
						<strong>Trusted by Health Professionals:</strong> Recommended by doctors and healthcare providers for immune support.
					</div>
				</li>
			</ul>
		</div>
	</div>
  </section>
  <section> 
	<div class="bg-white flex justify-center items-center">
		<div class="bg-gradient-to-t from-green-800 via-lime-100 to-emerald-400 mx-5 my-10 p-5 md:m-20 md:p-10 rounded-xl shadow-xl">
			<h1 class="text-4xl md:text-6xl font-bold my-5">Protection Against H1N1, H3N2 and More</h1>
			<p class="text-lg md:text-2xl my-5">COROQUIL-Zn supports your immune system, helping you defend against H1N1, H3N2 influenza, respiratory syncytial virus, and parainfluenza. 
				Strengthen your respiratory health with natural, proven ingredients.</p>
		</div>
	</div>
  </section>
  <section class="my-10">
	<div class="mx-5 md:mx-36">
		<h1 class="text-4xl text-left md:text-center md:text-6xl font-bold mb-5">Where to Buy COROQUIL-Zn</h1>
		<p class="text-left md:text-center text-lg md:text-2xl">
			You can purchase COROQUIL-Zn directly from our online store or find it at any of our authorized retail partners. Available in pharmacies, health stores, and online retailers, COROQUIL-Zn is easily accessible wherever you are. Take the first step towards stronger immune health today!
		</p>
		<div class="mt-8 mx-5 grid grid-cols-1 md:grid-cols-3 gap-6 max-w-5xl md:max-w-full ">
			<!-- Netmeds -->
			<div class="bg-white rounded-2xl p-8 text-center inline-flex justify-between items-center">
				<h1 class="text-lg font-bold">Netmeds</h1>
				<a href="https://www.netmeds.com/non-prescriptions/brands/sanctum-herbal" target="_blank" class="text-white bg-[#9fe870] hover:bg-[#c1e8a8] hover:text-[#264d0c] px-6 py-3 rounded-full md:text-2xl">Buy</a>
			</div>
	
			<!-- Tata 1MG -->
			<div class="bg-white rounded-2xl p-8 text-center inline-flex justify-between items-center">
				<h1 class="text-lg font-bold">1MG</h1>
				<a href="https://www.1mg.com/otc/remedium-therapeutics-coroquil-zn-capsule-otc1031813" target="_blank" class="text-white bg-[#9fe870] hover:bg-[#c1e8a8] hover:text-[#264d0c] px-6 py-3 rounded-full md:text-2xl">Buy</a>
			</div>
	
			<!-- Remedium -->
			<div class="bg-white rounded-2xl p-8 text-center inline-flex justify-between items-center">
				<h1 class="text-lg font-bold">Official Store</h1>
				<a href="https://coroquilzn.myshopify.com/" target="_blank" class="text-white bg-[#9fe870] hover:bg-[#c1e8a8] hover:text-[#264d0c] px-6 py-3 rounded-full md:text-2xl">Buy</a>
			</div>
		</div>
	</div>

  </section>
  <section class=" bg-white mb-10">
	<div class="mx-10 md:m-0">
	<h1 class="text-4xl md:text-6xl text-center font-bold py-5">Press Coverage</h1>
	<div class="inline-flex items-center justify-center flex-wrap w-[100%] m-4 p-2">
		<Image src={business} alt="bsLogo" class="m-4"/>
		<Image src={cnbc} alt="bsLogo" class="m-4"/>
		<Image src={forbes} alt="bsLogo" class="m-4"/>
		<Image src={health} alt="bsLogo" class="m-4"/>
		<Image src={inc} alt="bsLogo" class="m-4"/>
		<Image src={live} alt="bsLogo" class="m-4"/>
	</div>
	</div>
  </section>

    <!-- Subscribe Form -->
  <section class="bg-[#2E481A] shadow-lg">
	<div class="p-4 mx-auto max-w-6xl flex flex-col justify-center items-center">       
        <h1 class="text-4xl md:text-6xl font-bold text-center text-white">Stay Updated on Wellness Tips and Offers!</h1>
        <form class="mt-8 space-y-4 flex flex-col justify-center items-center md:w-[50%]" id="form">
            <input class="w-full min-w-72 rounded-full py-3 px-4 text-gray-800 bg-gray-100 text-sm md:text-3xl outline-none" type="email" name="Email" required placeholder="example@email.com">
            <button class="text-white bg-[#9fe870] hover:bg-[#c1e8a8] hover:text-[#264d0c] tracking-wide rounded-full text-sm p-3 md:p-4 md:text-3xl" id="submit" type="submit">Get Started</button>
        </form>
    </div>
	<script>
		// Type assertions for HTML elements
		const form = document.querySelector("#form") as HTMLFormElement | null;
		const submitButton = document.querySelector("#submit") as HTMLButtonElement | null;
		const scriptURL = 'https://script.google.com/macros/s/AKfycbwLahxTKFzc7rvDJQUW1aU-Sxkx6_Fl3iB1Q7EnGtbYJ4IcYKXaPaJHynv1YYcdf61o/exec';
	  
		// Ensure elements exist before adding event listeners
		if (form && submitButton) {
		  form.addEventListener('submit', (e: Event) => {
			submitButton.disabled = true;
			e.preventDefault();
	  
			// Create a new FormData object from the form
			const requestBody = new FormData(form);
	  
			// Fetch the URL with POST method and the FormData body
			fetch(scriptURL, { method: 'POST', body: requestBody })
			  .then(response => {
				alert('Success!');
				submitButton.disabled = false;
			  })
			  .catch(error => {
				alert('Error: ' + error.message);
				submitButton.disabled = false;
			  });
		  });
		}
	  </script>
  </section>

  <section class="py-12 mx-5">
	<h1 class="text-4xl md:text-6xl font-bold text-center">Contact Us</h1>
	<div class="text-left mt-8 grid grid-cols-1 md:grid-cols-2 gap-6 max-w-4xl md:max-w-full">
		<!-- Phone -->
		<div class="bg-white rounded-3xl p-6 shadow-md">
			<h2 class="font-bold text-lg md:text-3xl">Phone</h2>
			<p class="text-green-500 mt-2 md:text-2xl">+91 73583 14777</p>
		</div>

		<!-- Email -->
		<div class="bg-white rounded-3xl p-6 shadow-md">
			<h2 class="font-bold text-lg md:text-3xl">Email</h2>
			<p class="text-green-500 mt-2 md:text-2xl">info@remediumtherapeutics.com</p>
		</div>

		<!-- Address -->
		<div class="bg-white rounded-3xl p-6 shadow-md">
			<h2 class="font-bold text-lg md:text-3xl">Address</h2>
			<p class="mt-2 md:text-2xl">
				Remedium Therapeutics Private Limited<br>
				Ticel Biopark Ltd Phase 2, First Floor<br>
				5, CSIR Main Road,<br>
				Taramani, Chennai – 600113
			</p>
		</div>

		<!-- Working Hours -->
		<div class="bg-white rounded-3xl p-6 shadow-md">
			<h2 class="font-bold text-lg md:text-3xl">Working Hours</h2>
			<pre>Mon 9:00 - 18:00</pre>
			<pre>Tue 9:00 - 18:00</pre>
			<pre>Wed 9:00 - 18:00</pre>
			<pre>Thu 9:00 - 18:00</pre>
			<pre>Fri 9:00 - 18:00</pre>
			<pre>Sat 9:00 - 18:00</pre>
			<pre>Sun 9:00 - 18:00</pre>
		</div>
	</div>
  </section>


</Layout>
